nav {
    position: absolute;
    position: fixed;
    position: -webkit-sticky;

    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    margin: -8px 0px 0px -8px;
    top: 5px;

    width: 99.75%;
    height: 50px;

    background-color: rgba(10, 10, 10, 0.30);
    backdrop-filter: blur(10px) saturate(1.05);

    z-index: 9999;
}

nav a {
    padding-left: 20px;
    margin-top: -43px;

    font-size: 25px;
    font-family: var(--font-mono);

    color: rgb(var(--yellow));
}